body, 
main, 
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bundle-images {
  width: 20vw;
  align-self: center;
}

.card {
  width: 21%;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  
 
}
