body, 
main, 
* { 
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: aliceblue;
}

.bundle-images {
  width: 14vw;
  height: 6.9vw;
}

#display {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: auto;
}

.card {
  width: 17%;
   text-align: center;
   border: 3px solid black;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 160px;
}

h2 {
  font-size: 1.2rem;
  align-self: center;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.filters {
  position: absolute;
}

#header {
  text-align: center;
}